<div class="main">
    
    <div nz-row>
      <div nz-col nzSpan="24">

        <span *ngFor="let cource of cources" style="margin: 20px; ">
        <nz-card nzTitle="{{cource.name}}" [nzBordered]="true" style="width: 70%; margin: auto; box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
            <p><strong>Price:</strong> {{ cource.price }}</p>
            <p><strong>Description:</strong> {{ cource.description }}</p>
        </nz-card>
      </span>

      <div class="pagination">
        <nz-pagination [nzPageIndex]="currentPage" [nzTotal]="total" nzPageSize="10" 
        (nzPageIndexChange)="pageIndexChange($event)"></nz-pagination>
    </div>
      </div>
    </div>
</div>