<div class="bg" style="background-color: #F8F8F8;">
  <nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'" nzTip="Working...">

    <div class="parent">
      <div class="child">
        <div nz-row class="imgDiv">
          <div nz-col nzSpan="24">
            <h3>Create New Course</h3>
          </div>
        </div>
        <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your name!">
              <input type="text" nz-input formControlName="name" placeholder="Name" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your price!">
              <nz-input-number style="width: 100%;" formControlName="price" nzPlaceHolder="Price"  [nzMin]="1" [nzStep]="1"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your description!">
              <textarea rows="4" nz-input formControlName="description" placeholder="Course Description"></textarea>
            </nz-form-control>
          </nz-form-item>

          <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Create New Course</button>

        </form>
      </div>
    </div>
  </nz-spin>
</div>